INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "asp.h"
#include "lwipopts.h"

ATT_ISR({ TA_NULL, (intptr_t)NULL, (INTNO)IRQ_VECTOR_CAN0_ETH0, (ISR)eth_int, (PRI)1 });
CFG_INT(IRQ_VECTOR_CAN0_ETH0, { TA_NULL, -1 });

ATT_ISR({ TA_NULL, (intptr_t)NULL, (INTNO)IRQ_VECTOR_EXINT0_7, (ISR)INT0_7_Handler, (PRI)1 });
CFG_INT(IRQ_VECTOR_EXINT0_7, { TA_NULL, -1 });

CRE_SEM(SEM_DEBUG,	{ TA_TPRI, 1, 1 });
CRE_SEM(SEM_ETH,	{ TA_NULL, 1, 1 });
CRE_SEM(SEM_RECV,	{ TA_NULL, 0, 16 });
CRE_TSK(TSK_LWIP,	{ TA_ACT, 1, task_lwip, (PRI)3, DEFAULT_THREAD_STACKSIZE, NULL });

AID_SEM(4);
AID_DTQ(3);
AID_TSK(2);
DEF_KMM( { (DEFAULT_THREAD_STACKSIZE * (2 + 1)), NULL } );
